<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356429459307-002iu34iq65ksdicu5n8rajn5f0vhfaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356429459307-002iu34iq65ksdicu5n8rajn5f0vhfaq</string>
	<key>API_KEY</key>
	<string>AIzaSyCBoao8fkNn3JcGr6PqyVmUGYd5-4qnup8</string>
	<key>GCM_SENDER_ID</key>
	<string>356429459307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infox.treasurehunt</string>
	<key>PROJECT_ID</key>
	<string>infox-treasure-hunt</string>
	<key>STORAGE_BUCKET</key>
	<string>infox-treasure-hunt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356429459307:ios:f86d66d93c12df69c2662e</string>
</dict>
</plist>